

<svg width="1200" height="320">
<ng-container *ngFor="let shape of shapes">
  <!-- <g (click)="onShapeClick(shape)"> -->
    <rect
        [attr.width]="shapeWidth(shape)"
        [attr.height]="shapeHeight(shape)"
        [attr.x]="shapeX(shape)"
        [attr.y]="shapeY(shape)"
        fill="transparent"
        (click)="onShapeClick(shape)"
      ></rect>
  <ng-container *ngFor="let line of shape.lines">



    <line [attr.x1]="line.from.x" [attr.y1]="line.from.y" [attr.x2]="line.to.x" [attr.y2]="line.to.y"
    [ngStyle]="{'stroke': shape.selected ? shape.color : shape.color}">
  </line>
    </ng-container>
    <!-- </g> -->
  </ng-container>
</svg>

<h3>Select a shape:</h3>
<div *ngFor="let shape of shapes">
  <input type="radio" [checked]="shape.selected" (change)="onCheckboxChange(shape)" />
  <label>{{ shape.shapeId }}</label>
</div>

<div>
  <h3>Click on shape and choose color:</h3>
  <button *ngFor="let color of colors" (click)="changeShapeColor(color)" [style.backgroundColor]="color">
    {{ color }}
  </button>
</div>

<div>
  <button (click)="saveShapes()">Save</button>
  <!-- <input type="file" (change)="loadShapes($event)" /> -->
  <!-- <button (click)="loadShapes()">Load</button> -->
  <input type="file" (change)="onFileSelected($event)" accept=".json" />
<!-- <button (click)="loadShapes()">Load</button> -->

  <!-- <button (click)="loadShapes()">Load</button> -->
</div>
